<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Users\Karthi\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\Karthi\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp>
      <cache diskTemplateCacheDirectory="%SystemDrive%\inetpub\temp\ASP Compiled Templates" />
    </asp>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\PSE\Projects\Auto\Coding\Auto_Proposal_WebAPI" />
    <add key="WSGI_HANDLER" value="wsgi_app.application" />
    <add key="WSGI_LOG" value="D:\PSE\Projects\Auto\Coding\Auto_Proposal_WebAPI\logs\wfastcgi.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="" />
    <add key="WSGI_PTVSD_SECRET" value="" />
    <add key="DJANGO_SETTINGS_MODULE" value="" />
  </appSettings>
</configuration>
